
.child-section-container-body--skillset {
    display: flex;
    flex-direction: row;
}

.skillset-card {
    border: solid 1px black;
    border-radius: 25px;
    margin: 1rem;
    min-height: 30vh;
    padding: 2rem;
    background-color: #FFFFFF;
}

.skillset-input-field {
    min-width: 102px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);

}
