
.company-card {
    display: flex;
    flex-direction: column;
    /* border: solid 1px black; */
    border-radius: 25px;
    margin: 1rem;
    min-height: 15vh;
    padding: 2rem;
    justify-content: center;
    width: inherit;
}

.companyData-input-field {
    min-width: 102px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);
}

.company-add-btn {
    font-size: small;
    align-self: center;
}

.company-card-add-btn-container {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 25px;
    margin: 1rem;
    height: 5px;
    padding: 2rem;
    justify-content: center;
}

.btn-text {
    font-size: medium;
}

.blogURL-input-textarea, .blogURL-input-field {
    background-color: whitesmoke;
}