
.editor-input {
    height: 500px;
    width: 90%;
    padding: 0 8px;
    border: 3px solid whitesmoke;


    resize: none;
    font-size: 15px;
    caret-color: rgb(5, 5, 5);
    position: relative;
    tab-size: 1;
    outline: 0;
    padding: 15px 10px;
    caret-color: #444;
}

.placeholder {
    position: absolute ;
    top: 25px;
    padding-left: 20px;
}

.editor-container {
    margin: 20px auto 20px auto;
    border-radius: 2px;
    /* max-width: 600px; */
    color: #000;
    position: relative;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .editor-inner {
    background: #fff;
    position: relative;
  }
  

  /* other styles */
