.child-section-container-body--project {
    /* display: flex;
    flex-direction: column; */
}

.project-card {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 25px;
    margin: 1rem;
    min-height: 15vh;
    padding: 2rem;
    justify-content: center;
    background-color: #FFFFFF;
}

.projectData-input-field {
    min-width: 102px;
    height: 28px;
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);
}

.project-add-btn {
    font-size: small;
    align-self: center;
}

.project-subtext {
    background-color: whitesmoke;
}