
.profile-header-container {
    color: white;
    background-color: black;
    justify-content: normal;
    align-items: center;
    padding-left: 1rem;
}

.right-menu {
    display: flex;
    justify-content: flex-end;
}

.left-menu-btn {
    margin-right: 1rem !important;
    align-items: center;
}

.preview-page-btn {
    color: white !important;
}