.site-title {
    min-width: 102px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);

}

.profile-photo {
    height: 295px;
    width: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px whitesmoke; */
    background: linear-gradient(0deg, #EFEFEF, #EFEFEF);
    border: 1px solid #AEAEAE;
    border-radius: 25px;
}

.profile-title-subtitle {
    width: 712px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:426px) {
    .profile-title-subtitle {
        display: contents;
    }

    .profile-photo {
        height: 264px;
        width: 264px;
    }
}

@media screen and (min-width:1023px) {
    .profile-title-subtitle {
        width: 312px;
        height: 224px;
    }
}