.site-title {
    min-width: 102px;
    height: 28px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);

}

.profile-photo {
    height: 295px;
    width: 295px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px whitesmoke; */
    background: linear-gradient(0deg, #EFEFEF, #EFEFEF);
    border: 1px solid #AEAEAE;
    border-radius: 25px;
}

.profile-title-subtitle {
    width: fit-content;
    height: 124px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.profile-title {
    min-width: fit-content;
    min-height: 84px;
    font-size: 50px;
    line-height: 64px;
    color: rgba(0, 0, 0, 0.574);
}

.profile-subtitle {
    min-width: 341px;
    min-height: 28px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.574);
}

.profile-name-email {
    min-width: 117px;
    height: 48px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
}

.profile-name {
    min-width:117px;
    height: 19px;
    font-size: 16px;
    line-height: 19px;
}

.profile-email {
    min-width:71px;
    height: 17px;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width:426px) {
    .profile-title-subtitle {
        display: contents;
    }

    .profile-photo {
        height: 264px;
        width: 264px;
    }
}

@media screen and (min-width:1023px) {
    .profile-title-subtitle {
        width: 312px;
        height: 224px;
    }
}

@media screen and (max-width: 1440px) {
    .profile-title {
        font-size: 30px;
    }
    .profile-subtitle { 
        font-size: 12px;
    }
}

/* @media screen and (min-width: 450px) and (max-width:1023px) { */
@media screen and (min-width: 450px) {
    .profile-title-subtitle {
        margin-top: 3rem;
    }
}

@media screen and (min-width: 767px) {
    .profile-title-subtitle {
        margin-left: 3rem;
    }
}