#root {
  /* max-width: fit-content; */
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem; */
  /* text-align: center; */
}

@media screen and (max-width: 767px){
  .profile-header-container {
      display: none !important;
  }

  #navbar-parent {
    display: none;
  }
}

input, textarea {
  border: 0 none transparent;
}

input:focus, textarea:focus{
  outline: none;
}

input[type="file" i] {
  /* display: none; */
  border: 0 none transparent;
  color: white;
}

.child-section-container {
  /* min-width: 500px; */
  width: -webkit-fill-available;
  margin-bottom: 2rem !important;
}

.child-section-actionBtn {
  display: flex;
  justify-content: end;
}

.child-section-container-body {
  /* min-height: '428px'; */
  border: solid 1px red;
  width: inherit;
}