@media screen and (max-width: 767px) {
  .profile-header-container {
    display: none !important;
  }

  #navbar-parent {
    display: none;
  }
}

input, textarea {
  border: 0 none transparent;
}

input:focus, textarea:focus {
  outline: none;
}

input[type="file"i] {
  /* display: none; */
  border: 0 none transparent;
  color: white;
}

.child-section-container {
  /* min-width: 500px; */
  width: -webkit-fill-available;
  margin-bottom: 10rem !important;
}

.child-section-actionBtn {
  display: flex;
  justify-content: end;
  margin-bottom: 1rem;
}

.child-section-actionBtn--cancel {
  color: black !important;
}

.child-section-actionBtn--save {
  min-width: 70px !important;
}

.child-section-container-body {
  /* min-height: '428px'; */
  border: 1.2px solid #828282;
  border-radius: 16px;
  width: inherit;
}

Button {
  /* color: white !important; */
  text-transform: none !important;
  border-radius: 10px !important;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}